.ant-switch {
	width: 60px;
	margin-left: 25px;	
	margin-top: 20px;
}

#ft{
	color:#999;
	border-top:1px dashed #ddd;
	line-height:30px;
	padding:0 0 30px;
	font-family:Arial;
}

#ft a{margin:0 5px;}

.fl{float:left;}

.fr{float:right;}